#image {
  max-width: 100%;
  height: auto; 
  border: 5px solid #ffc752;
  display: block;
  width: 42vw;
  margin: auto;
}

body {
  background-color: #feefcc;
  font-family: Verdana;
}

#img-div {
  width: auto;
  height: auto;
  max-width: 900px;
  display: block;
  text-align: center;
  object-fit: fill;
  margin: auto;
}

#img {
  display: block;
  padding-bottom: 10px;
}

p, ul {
  text-align: justify;
}

li {
  padding: 1em;
}

h2, figcaption {
  font-style: italic;
  font-size: 15px;
}

h2 {
  font-size: 15px;
}

hr {
    border: 2px solid #bb8f00;
    background-color: #bb8f00;
    margin: 15px auto;
    width: 100%; 
}

span {
  font-weight: bold;
}

footer {
  font-size: 14px;
}

figcaption {
  padding-top: 10px;
}

h1, h2, figcaption {
  text-align: center;
}

a {
  color: #bb8f00;
}
